<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part 3</title>
</head>
<body>

        First name : <input type="text" id="firstName"> <br><br>
        Last name: <input type="text" id="lastName"> <br><br>
        Age : <input type="text" id="age"> <br><br>
        <input type="button" value="save" id="saveButton">
        <div id="content"></div>

    
    <script src="../scripts/part3.js"></script>
    
    
</body>
</html>