<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part 3</title>
</head>
<body>
    <select id="myColor" style="width: 15em;">
        <option value="Select color" selected disabled>Select color</option>
        <option id="red" value="Red">Red</option>
        <option value="Blue">Blue</option>
        <option value="Green">Green</option>
    </select>

    <input type="button" id="remove" value="Click to Remove all Options"> <br><br>
    <input type="text" id="addOption" placeholder="Enter an option you want to add" style="width: 15em;">
    <input type="button" id="add" value="Click to add an option">

    <h2 id="content"></h2>
    <script
   src="https://code.jquery.com/jquery-3.5.1.js"
   integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
   crossorigin="anonymous"></script>

   <script src="../scripts/part3.js"></script>
    
</body>
</html>