<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    First name : <input type="text" name="firstName" value="Elena"> <br><br>
    Last name: <input type="text" name="firstName" value="Betinska"> <br><br>
    Email : <input type="text" name="email" value="betinskaelena@gmail.com"> <br><br>
    Password : <input type="password" name="Password" value="fdsjhfdjsh"> <br>
    <br>
    <br>

    <input type="button" name="button"  id="button" value="Submit">

    <div id="myContentDiv"></div>

    

    <script src="../scripts/part3.js"></script>
</body>
</html>